// Element-UI 覆盖样式
// 表格表头
.el-table th.el-table__cell>.cell {
  font-weight: 400 !important; // 表头文字不加粗
  color: rgb(21, 21, 21); // 表头文字颜色
}

.el-table tr{
  height: 75px !important;
  line-height: 75px !important;
}

// 表格底部分割横线
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  content: none !important;
}

// 表格行 
.el-table td.el-table__cell,
.el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid rgb(244, 244, 244);
}

// 表格单元格鼠标扫过
.el-table__body tr:hover>td,
.el-table__body tr:hover>td.el-table__fixed-right {
  background-color: rgb(250, 250, 250) !important;
}

// 下拉菜单
.el-dropdown-menu {
  padding: 0 !important;
}

// 下拉菜单菜单项
.el-dropdown-menu__item,
.el-menu-item {
  padding: 0 25px !important;
  color: rgb(51, 51, 51) !important;

  &:hover {
    background-color: rgb(239, 240, 240) !important;
  }
}

// 下拉菜单指示箭头
.el-popper .popper__arrow {
  display: none !important;
}


// 弹窗
.el-dialog {
  border-radius: 10px !important;

  // 弹窗内容体
  .el-dialog__body {
    padding: 10px 20px !important;
  }

}

// .el-input__inner {
//   // border: none !important;
//   //background-color: rgb(248, 248, 248);
// }

.el-pager li.active {
  background-color: rgb(240,240,240);
  color: rgb(51,51,51);
}